DB_HOST="" 				# Provide a value for DB_HOST
DB_PORT="" 				# Provide a value for DB_PORT
DB_USER="" 				# Provide a value for DB_USER
DB_PASS="" 				# Provide a value for DB_PASS
DB_NAME="" 				# Provide a value for DB_NAME


# JWT
JWT_ACCESS_SECRET="" 				# Provide a value for JWT_ACCESS_SECRET
JWT_REFRESH_SECRET="" 				# Provide a value for JWT_REFRESH_SECRET
JWT_ACCESS_EXPIRES_IN="" 				# Provide a value for JWT_ACCESS_EXPIRES_IN
JWT_REFRESH_EXPIRES_IN="" 				# Provide a value for JWT_REFRESH_EXPIRES_IN

# App
NODE_ENV="" 				# Provide a value for NODE_ENV
PORT="" 				# Provide a value for PORT

# Mail
MAIL_USERNAME="" 				# Provide a value for MAIL_USERNAME
MAIL_PASSWORD="" 				# Provide a value for MAIL_PASSWORD
SERVER_URL="" 				# Provide a value for SERVER_URL

# Zarinpal
ZARINPAL_MERCHANT_ID="" 				# Provide a value for ZARINPAL_MERCHANT_ID
ZARINPAL_CALLBACK_URI="" 				# Provide a value for ZARINPAL_CALLBACK_URI
ZARINPAL_API_URI="" 				# Provide a value for ZARINPAL_API_URI
ZARINPAL_API_START_PAY="" 				# Provide a value for ZARINPAL_API_START_PAY